table {
    margin-left:20%;
    margin-right:20%;
}

table tr {
    font-family: 'Source Sans Pro Light', sans-serif;
    font-style: normal;
    font-size: 1.3em;
}

table tr td {
    padding: 0.5em 1em;
}

table.countries tr th {
    align-content: center;
}

table.countries tr td {
    vertical-align: top;
    font-size: 0.8em;
}

table.countries a.flag {
    text-decoration: none;
}

small {
    font-size: 0.5em;
    font-color: linen;
}

.rootmap .leaflet-marker-pane,
.rootmap .leaflet-shadow-pane {
    display: none;
}
@media (max-width: 680px) {
    .rootmap .leaflet-control {
        display: none;
    }
}

.ui-select {
    background:#fff;
    position:absolute;
    top:10px;
    right:10px;
    z-index:100;
    padding:10px;
    border-radius:3px;
}

div.whitepage {
    margin: 12px 40px;
    padding: 7px;
    background-color: rgba(255, 255, 255, 0.9);
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 1em;
    opacity: 0.9;
    -webkit-transition: 1s;
    transition: 1s;
    z-index: 100;
    position: absolute;
}

@media (max-width: 680px) {
    div.whitepage {
        padding: 1.2em;
        width: calc(100% - 20px);
        margin: -10px auto;
    }
}

div.whitepage p,
div.whitepage h1 {
    margin: 0;
    font-size: 1.8em !important;
}

div.whitepage h1 span {
    white-space: nowrap;
}

div .elevation {
    float: none;
    clear: both;
}

@media (max-width: 680px) {
    div.whitepage .elevation {
        display: none;
    }
}

div.whitepage .elevation svg {
    font-size: 80%;
    background-color: transparent;
    width: 100%;
    height: auto;
}
