html {
  height: 100%;
}

body, .rootmap {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 8em;
    animation-name: velo;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes velo {
  from {left: 110%}
  to {left: -10%;}
}
