section {
  margin-top: 2em;
}

.dropzone {
    width: 80%;
    height: 100px;
    margin: 10px auto;
    background-color: azure;
    border: 2px dotted skyblue;
}

.dropzone:hover {
  background-color: whitesmoke;
  border: 2px solid skyblue;
}

.selected-file {
  margin-top: 40px;
}

.progress {
    margin: 2px auto;
    margin-top: -12px;
    margin-bottom: 20px;
    width: calc(80% + 4px);
    background: aliceblue;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 0;
    display: flex;
    height: 5px;
  }
  
  .progress-value {
    animation: load 1s normal forwards;
    background: skyblue;
    height: 5px;
    font-size: x-small;
    color: white;
  }
  
  @keyframes load {
    0% { width: 0; }
    100% { width: 100%; }
  }
  
  form {
    width: 80%;
    margin: 10px auto;
    text-align: left;
  }

  form label{
    text-align: left;
    display: inline-flex;
    flex-direction: column;
    font-size: x-small;
    padding-right: 20px;
  }

  form input.date {
    width: 100px;
  }
  form input.title {
    width: 300px;
  }
  form input.countries {
    width: 80px;
  }

  form + div {
    padding: 10px 0;
    text-align: left;
    width: 80%;
    margin: 0 auto;
  }