body {
  margin: 0;
}

/* .app {
  text-align: center;
  height: 100vh;
  margin: 0;
  padding:0;
  border: 1px solid red;
} */

/* required styles */

.leaflet-container {
  width: 100wh;
  height: 100vh;
}

.fullscreen .leaflet-container {
  height: calc(100vh - 45px);
}

.fullscreen .leaflet-container .leaflet-control-attribution {
  background-color: pink;
  position:fixed;
  position: fixed;
  bottom: 0;
  right: 0;
}

.fullscreen .leaflet-container .leaflet-top {
  top: 10px;
}

.leaflet-zoom-anim
.leaflet-zoom-animated {
  transition-timing-function: linear;
  transition-duration: 10ms;
}